*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1250px;
    margin: 0 auto;
    padding: 0 15px ;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    
   
    
}

.header-container .header-left{
    display: flex;
    gap: 25px;
    align-items: center;
}
.header-container .header-left p{
    color: #1D1D1D;
    font-size: 14px;
    line-height: 19.07px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
     /* left: 396px; */
}
.header-container .header-right{
    display: flex;
    gap: 30px;
    align-items: center;
  
}

.header-container .header-right p{
    color: #1D1D1D;
    font-size: 14px;
    line-height:20px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-container .header-right button{
    top: 30px;
    left: 1350px;
    border: 1px solid #CFB08A;
    padding: 10px 16px;

}
.header-container .header-right .clock{
    display: flex;
}
.header-container .header-right .mail{
    display: flex;
    justify-content: end;;
}

.header-right .location{
    display: flex;
    gap: 15px;
    align-items: center;
}
.header-right .clock{
    gap: 10px;
}

.header-right .mail{
    gap: 10px;
}
nav{

    background-color:#CB883A;
}
.nav-container{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    

}
.nav-container .nav-left{
    display: flex;
    text-align: center;
    gap: 10px;
   
 
}
.nav-container .nav-left a{
    text-decoration: none;
    color: #FFFF;
    padding: 18px 24px;
    font-size: 14px;
    line-height: 19.07px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.nav-container .nav-right {
    position: relative;
}

.nav-container .nav-right input{
width: 100%;
padding: 10px 20px;
border-radius: 10px;
border: none;
padding-right: 40px;
}

.nav-container .nav-right span{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-right input:focus{
outline: none;
}

.section-container {
height: 540px;
background-image: url('../img/img.png');
background-repeat: no-repeat;
background-size: cover;
position: relative;
background-position: center;
}
.include-container{
    display: flex   ;   
    position: relative;
}
.section-container .section-left{
     gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 75px;
    
}
.section-container .container{
    position: relative;
    z-index: 2;
    color: white;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}


.section-container .section-left::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    height: 100%;
  }


.section-container .section-left h1{
    font-size: 32px;
    line-height: 43.58px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFF;
}

.section-container .section-left ul li{
    font-size: 16px;
    line-height: 21.79px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFF;
   
}
.section-container .section-left button{
    padding: 16px 40px;
    background-color: #CB883A;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24.51px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;

}
.offer-section .offer-1 .age{
    display: flex;
  align-items: center       ;
    gap: 10px;

}
.offer-section{
    display: grid;
    grid-template-areas: 
    'offers-1 offers-2 offers-4'
    'offers-1 offers-2 offers-4'
    'offers-1 offers-3 offers-5'
    'offers-1 offers-3 offers-5';
    margin: 25px;
    gap: 20px;
}
.offer-section h2{
    text-align: left;
    font-size: 18px;
    /* line-height: 24.51px; */
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.offer-section p{
    text-align: left;
    font-size: 16px;
    line-height: 21.79px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}


.offer-1{
grid-area: offers-1;
width: 50%;
margin: 50px;
margin-right: 30px;

}
.offer-1 p{
    width: 250px;
}
.offer-2{
    grid-area: offers-2;
    border: 1px #D1D1D1 solid;
    padding: 30px;
    
}
.offer-3{
    grid-area: offers-3;
    border: 1px #D1D1D1 solid;
    padding: 30px;
}
.offer-4{
    grid-area: offers-4;
    border: 1px #D1D1D1 solid;
    padding: 30px;
}
.offer-5{
    grid-area: offers-5;
    border: 1px #D1D1D1 solid;
    padding: 30px;  
}
.offer-1 h1{
    font-size: 100px;
    line-height: 136.18px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    color: #D29650;
}

.offer-1 .age h2{
    font-size: 40px;
    line-height: 30px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
    
}
.special-offer-section{
    background-color:#F2F2F2;
    height: 406px;
    position: relative;
    padding: 80px 0;
}

.special-offer{  
    display: flex;
    gap: 25px; 
  margin: 20px;
  margin-left: 80px;

}

.special-offer-section h1{ 
    text-align: center;
    font-size: 32px;
    line-height: 43.58px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1D1D1D; 
}

.special-offer h2{
    text-align: center;
    font-size: 16px;
    line-height: 21.79px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
    color: #1D1D1D;
   width: 250px;
}
.special-offer p{
    text-align: center;
    font-size: 20px;
    line-height: 27.24px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
    color:#D29650;
    font-weight: 700;
}
.sloy-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.sloy-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.sloy-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.sloy-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.product-title{
    text-align: center;
    font-size: 32px;
    line-height: 43.58px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
    color: #1D1D1D;
    margin: 60px 0;
}
.border h2{
text-align: center ;
color: white;
font-size: 32px;
line-height: 43.58px;
font-family:'Open Sans', 'Helvetica Neue', sans-serif;

}
.list-container{
display: flex;
align-items: center;
gap: 135px;
}
.list-left{
    width: 490px;
    height: 624px;
    flex-shrink: 0;
    background-image: url('../img/product.png');
    padding: 30px;
}

.list-left:hover{
    padding: 20px;
}
.border{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-right table{
    width: 100%;
}
.list-right thead{
    background-color:#DEDEDE;
   padding: 10px 20px;
   height: 39px;
   gap: 10px;
}
.list-right tbody tr td{
border-bottom: 1px solid#DEDEDE;
height: 32px;
}

.list-right tbody tr td:nth-last-child(3){
    border: none;
        }
.list-right tbody td{
    text-align: center;
    
}
.list-right p{
    color: #1D1D1D;
    font-size: 16px;
    line-height: 21.79px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;  
    margin-bottom: 20px;
}
.list-right h2{
    color: #1D1D1D;
    font-size: 16px;
    line-height: 21.79px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;  
    margin-bottom: 10px;
}

.list-right table p{
    color: #1D1D1D;
    font-size: 14px;
    line-height: 19.07px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
}
.list-right .button-btn{
    gap: 20px;
    display: flex;
    margin-top: 50px;
}
.list-right  button{

    background-color:#D29650;
    color: #FFFFFF;
    padding: 16px 50px;
    font-size: 18px;
    line-height: 24.51px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
 
}
.list-right .btn-2{
    border: none;
}
.list-right .btn-1{
    color:#1D1D1D;
    background-color:#FFFFFF;
    border: 1px solid #D29650;
}


/**********************************/
.section-rulon{
    margin: 150px;
    background-color: #F2F2F2;
    height: 960px;
}

    .rulon-container{
     display: flex;
     align-items: center;
     gap:135px;
     padding: 100px 0;
    }
    
    .rulon-left table{
        width: 100%;
    }
    .rulon-left thead{
        background-color:#DEDEDE;
       padding: 10px 20px;
       height: 39px;
       gap: 10px;
    }
    .rulon-left tbody tr td{
    border-bottom: 1px solid#DEDEDE;
    height: 32px;
    }
    
    .rulon-left tbody tr td:nth-last-child(3){
        border: none;
            }
    .rulon-left tbody td{
        text-align: center;
        
    }
   
    .rulon-left p{
        color: #1D1D1D;
        font-size: 16px;
        line-height: 21.79px;
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;  
        margin-bottom: 20px;
    }
    .rulon-left li{
        color: #1D1D1D;
        font-size: 16px;
        line-height: 21.79px;
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;  
        margin-bottom: 10px;
    }
    
    .rulon-left table p{
        color: #1D1D1D;
        font-size: 14px;
        line-height: 19.07px;
        font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
    }
 section .button-btn{
        gap: 20px;
        display: flex;
        margin-top: 50px;
    }
 section button{
    
        background-color:#D29650;
        color: #FFFFFF;
        padding: 16px 50px;
        font-size: 18px;
        line-height: 24.51px;
        font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
     
    }
 section .btn-2{
        border: none;
    }
section .btn-1{
        color:#1D1D1D;
        background-color:#FFFFFF;
        border: 1px solid #D29650;
    }
    

    .rulon-right{
        width: 490px;
        height: 624px;
        flex-shrink: 0;
        background-image: url('../img/rulon.png');
        padding: 30px;
    }
    
    .rulon-right:hover{
        padding: 20px;
    }
    .border{
        width: 100%;
        height: 100%;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
/********************************/
.box-section{
    background-color: #FFFFFF;
}
.box-container{
    display: flex;
    align-items: center;
    gap: 135px;
    }

.box-left{
    width: 490px;
    height: 468px;
    flex-shrink: 0;
    background-image: url('../img/box.png');
    padding: 30px;
}

.box-left:hover{
    padding: 20px;
}

.box-right p,li{
    color: #1D1D1D;
    font-size: 16px;
    line-height: 21.79px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;  
    margin-bottom: 20px;
}
/********************************************/
.package-section{
    margin-top: 100px;
    background-color: #F2F2F2;
    height: 700px;
}
.package-container{
  
    display: flex;
    align-items: center;
    gap: 135px;
    padding: 110px 0;
    }
.package-right{
    width: 490px;
    height: 468px;
    flex-shrink: 0;
    background-image: url('../img/box.png');
    padding: 30px;
}

.package-right:hover{
    padding: 20px;
}

.package-left p{
    color: #1D1D1D;
    font-size: 16px;
    line-height: 21.79px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;  
    margin-bottom: 20px;
}
/********************************************/
.about-section{
    position: relative;
    height: 500px;
    background-image: url('../img/about.png');
    margin-top: 100px;
 
}

.about-container{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    /* transform: translateY(-50%); */
}
.about-left {
    padding-top:100px;
    flex-shrink: 0;
}
.about-left h2{
    color: #FFFF;
    font-size: 32px;
    line-height: 43.58px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;  
    

}
.about-left li{
    color: #FFFF;
    font-size: 16px;
    line-height: 21.79px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;  
  
}

.about-right{
 
    /* flex-shrink: 0; */
    /* justify-content: center;
    position:unset;
    transform: translateY(-50%);  */
}